@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '~bootstrap/scss/functions';
@import "custom-variable";
@import "mixins";

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: $gray-800;
  background-color: $white;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}

.text-primary {
  color: $blue;
}
.text-secondary{
  color: $gray;
}
a {
  color: $orange !important;
  cursor: pointer;
}
form {
  font-size: 16px;
}